U1/U1_T3_Validating_with_schema/ej1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Miembros">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Miembro" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Nombre"/>
              <xs:element type="xs:positiveInteger" name="Tiempo_membresia"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>